input{
	margin-left: 15px;
}

table{
	border-collapse: collapse;
}

td,th{
	width:90px;
	height:36px;
	border: 1px solid #000;
	text-align: center;
}

td{
   position: relative;
   overflow: hidden;
}

#region-wrapper,#product-wrapper{
	display: inline-block;
	width: 300px;
	height: 100px;
}

h4{
	text-algin:center;
}

table td img{
	position: absolute;
	top: 4px;
	right:-24px;
}

td:hover{
	background-color: #60acfc;
}

table td:hover img{
	right: 4px;
}

.confirm, .cancel{
	position: absolute;
	right:1px;
	background-color: #32d3eb;
	font-size: 12px;
	color: #fff;
	text-align: center;
	width: 30px;
	height: 17px;
	padding: 0;
	display: none;
}

.confirm{
	top: 1px;
}

.cancel{
	bottom: 1px;
}

table .inputData{
	width: 50px;
	height: 30px;
	position: absolute;
	left: 2px;
	top: 2px;
	display: none;
	margin: 0;
}
